{% extends "base.html" %}

{# Not modified yet, just here to serve as a reminder
   to get around to implement archives. Might even 
   settle on just using period archives instead.
 #}
{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
  <h1>Archives for {{ SITENAME }}</h1>

  <dl>
  {% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
  {% endfor %}
  </dl>
{% endblock %}
