{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block image %}
{% if article.image %}
  <meta name="image" href="{{ SITEURL }}/{{ IMAGES }}/{{ article.image|join }}">
{% endif %}
{% endblock %}

{% block content %}

  <header>
    <h2>
      <a href="{{ SITEURL }}/">{{ article.title }}</a>
    </h2>
    <time>{{ article.locale_date -}}</time>
  </header>
  
  <article>

    {% set TEXT_TYPE = article %}
    {% include "filter.html" %}
    
  </article>

{% endblock %}
