{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}

  <header class="index">
  {% if category or tags %}
    <h1>{{ SITENAME }}</h1>
    <h2>{{ category or tag }}</h2>
  {% else %}
    <h1>{{ SITENAME }}</h1>
    <aside>{{ SITESUBTITLE }}</aside>
  {% endif %}
  </header>

  {% block nav %}{% include "nav.html" %}{% endblock %}

  <div class="articles">
     
  {% if articles %}
  {% for article in articles_page.object_list %}
  <ul>
    <time>{{ article.locale_date }}</time>
    <h3>
      <a href="{{ SITEURL }}/{{ article.url -}}
        ">{{ article.title }}</a>
    </h3>
    {# 'SUMMARIES' are set in 'pelicanconf' #}
    {% if SUMMARIES %}
    <p>
      {% include "summary.html" %} 
    </p>
    {% endif %}
  </ul>
  {% endfor %}
  {% endif %}
  
  </div>

  {% if articles_page.has_other_pages() %} 
    {% include "pagination.html" %} 
  {% endif %}

{% endblock %}
