{# This is basically just a loop to fill the nav bar
   with useful stuff. 'LIST' can be a list of 'tags'.
   'WORD' should probably be something like 'tag'. It
   is used for the nav-bar as well: 'tag+s'

   The defaults can be found in 'tags.html' and other 
   relevant templates. See also 'nav.html'.
 #}
{% set NAV = WORD %}
{% for WORD, articles in LIST|sort %}
  {%- set URL -%}
    {{ SITEURL }}/{{ WORD.url }}
  {%- endset -%} 
  {% if page_name != "index" %}
    <a href="{{ URL }}">{{ WORD -}}<sup>{{ articles|count }}</sup></a> 
  {% elif page_name == "index" %}
    {% if loop.index == 1 %}
    <a href="{{ URL }}">~/{{ NAV }}s</a> 
    {% endif %}
  {% endif %}
{% endfor %}
